html,
body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#panolens-separate-container {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

#panolens-separate-container:-webkit-full-screen {
    left: 0;
    top: 0;
}

#panolens-separate-container:-moz-full-screen {
    left: 0;
    top: 0;
}

#panolens-separate-container:-ms-fullscreen {
    left: 0;
    top: 0;
}

#panolens-separate-container:fullscreen {
    left: 0;
    top: 0;
}

#popup {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#popup.show {
    display: flex;
}

#popup .popupmain {
    width: 90%;
    height: 90%;
    text-align: right;
    z-index: 2;
    position: relative;
}
#popup .popupmainOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(128 128 128 / 40%);
}
#popup .popupmain .contentPopup .sliderContent{
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
#popup .popupmain .contentPopup {
    width: 100%;
    height: 100%;
}
#popup .popupmain .iframePanolens {
    width: 100%;
    height: 100%;
}
#popup .popupmain .iframePanolensYoutube{
    width: 100%;
    height: 100%;
}
#popup .popupmain .iframeVideoHouse{
    width: 100%;
    height: 100%;
}
#popup .popupmain .buttonClose {
    background-color: rgba(128, 128, 128, .50);
    border: none;
    outline: none;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 20px;
    z-index: 1;
}

/* menu */
#menuLeft{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: rgb(0 0 0 / 30%);
    transition: 0.15s ease all;
    transform: translateX(-100%);
}
#menuLeft.show{
    transform: translateX(0);
}
.menuMain{
    margin-top: 50px;
    padding: 0;
}
.menuMain-item{
    list-style: none;
    background-color: rgb(0 0 0 / 50%);
    color: white;
    padding: 20px;
    cursor: pointer;
    margin: 5px 0;
}
.buttonShowMenu{
    width: 32px;
    height: 100px;
    border-radius: 0 4px 4px 0;
    background-color: rgb(0 0 0 / 50%);
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(100% , -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 32px;
    cursor: pointer;
}

.carousel-icon-custom{
    font-size: 30px;
    color: black;
    font-weight: 900;
}

#loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-image: url("../access/img/PANO0001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 1s ease all;
    flex-direction: column;
    padding-top: 200px;
}
#loading.hidden{
    opacity: 0;
}
#loading.hidden.withnone{
    width: 0;
    height: 0;
}
#loading .btn-play{
    width: 72px;
    height: 72px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #808080c9;
    transition: 0.35s ease all;
    font-size: 28px;
    cursor: pointer;
}
#loading .btn-play.disable{
    pointer-events: none;
}
#loading .btn-play:hover{
    background-color: #808080c9;
    opacity: 0.5;
    color: white;
}
#loading .btn-play i{
    transform: translateX(2px);
}

.progress-container{
    width: 100px;
    height: 10px;
    margin-top: 10px;
    border-radius: 4px;
    overflow: hidden;

}
#myProgress {
    width: 100%;
    background-color: grey;
    height: 100%;
  }
  
  #myBar {
    width: 0%;
    height: 100%;
    background-color: #008d00;
    color: white;
    font-size: 7px;
    text-align: center;
  }
  .carousel-item{
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  .carousel-item img{
    max-width: 100%;
    max-height: 100%;
  }
  #carouselExampleControls{
    width: 100%;
    height: 100%;
  }
  #carouselExampleControls .carousel-inner{
    width: 100%;
    height: 100%;
  }
  .title{
    color: white;
    font-size: 40px;
    font-weight: bold;
    pointer-events: none;
    user-select: none;
    /* position: absolute; */
    /* top: 200px;
    left: 50%;
    transform: translateX(-50%); */
    margin-bottom: 50px;
  }